.eventform {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
  }

.formcontainer{
     background-color: #8BBAB4;
      padding: 10px;
}

.row-span1{
  margin-right: 100px;
}

  .eventlabel,
  .eventinput {
    display: flex;
    width: 100%;
    justify-content: row;
  }
  
  .eventlabel {
    margin-bottom: 5px;
    height: 22px;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .eventinput {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #777;
    font-size: 20px;
    width: 300px;
  }
  
  .eventinputtag{
    margin-bottom: 5px;
    height: 50px;
    font-size: 25px
  }

  .eventinputdate{
    margin-bottom: 5px;
    height: 50px;
    font-size: 21px;
    width: 180px;
  }
  
  .eventinputprice{
      width: 20%;
      height: 50%;
      font-size: 25px;
  }

  .eventinputtime{
    margin-bottom: 5px;
    height: 30px;
    font-size: 20px
  }
  
  .submitevent{
    padding: 20px 35px;
    background-color: #D893EF;
    color: white;
    border: 1px solid #bb46e2;
    transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
    font-size: 20px;
    margin-left: 90px;
  }
  
  .submitevent:hover {
    cursor: pointer;
    background-color: #FFB083;
    border-color: #f57327;
    color: #000;
  }

